.wrapper {
    background-color: #333;
    border-radius: 10px;
    position: absolute;
    margin-left: 10%;
    width: 80%;
}

.content {
    padding: 20px;
}

.tag {
    margin: 2px;
    padding: 8px;
    border-radius: 5px;
    background-color: #666;
}

.button {
    padding: 8px;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    background-color: #555;
}


.button:hover {
    color: darkcyan;
    border-color: darkcyan;
}

.image {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.closeButton {
    color: white;
    font-size: 35px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    z-index: 10;
    text-shadow: -2px 0 #333;
}

.summary {
    padding-bottom: 20px;
}